body {
  font-family: "League Spartan", sans-serif;
  max-width: 1000px;
  margin: auto 0px;
}

header {
  background-color: #edffc5;
  padding-bottom: 5px;
  justify-content: center;
  min-width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1000;
}

.heading h1 {
  padding-top: 50px;
}

h1,
h2 {
  font-weight: 600;
  margin: 40px 10px;
}

h3,
a {
  font-weight: 800;
  margin: 40px 10px;
}

p {
  font-weight: 400;
  margin: 20px 10px;
}

img {
  max-width: 100%;
}

.logo {
  padding-top: 5px;
}

a {
  text-decoration: none;
}

.cta,
.cta-card {
  color: #141329;
  background-color: #d1fe6b;
  padding: 5px 50px;
}

nav {
  background-color: #edffc5;
  padding: 10px 30px;
  position: fixed;
  top: 50px;
  left: 40px;
  z-index: 100;
  display: none;
}

nav li {
  padding: 5px;
  display: block;
}

ul {
  list-style: none;
}

#hamburger:checked ~ nav {
  display: block;
}

#hamburger {
  display: none;
}

.fa,
.fas {
  font-size: 30px;
}

.heading-index {
  top: 50px;
}

.main-card {
  display: grid;
  box-shadow: 0px 15px 15px #afafaf;
}

.cta,
.cta-card {
  text-align: center;
  margin: 20px;
  padding: 15px;
}

.heading-index {
  background-image: url(/images/milkyway.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.heading-index h1,
.heading-index p {
  color: #edffc5;
}

.heading-index .cta {
  color: #141329;
  position: relative;
  padding: 15px;
}

footer {
  background-color: #edffc5;
}
