/* GLOBAL ---------- */

body {
  font-family: "League Spartan", sans-serif;
  max-width: 100%;
  margin: auto 0px;
}

header {
  background-color: #edffc5;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1000;
  max-height: 50px;
}

.heading {
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading h1 {
  padding-top: 50px;
}

.heading p {
  max-width: 1026px;
}

.heading h1,
.heading h2,
.heading p {
  color: #edffc5;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

h1,
h2 {
  font-weight: 600;
  margin: 20px 10px;
}

h3,
a {
  font-weight: 800;
  margin: 40px 10px;
}

p {
  font-weight: 400;
  margin: 20px 10px;
  /*font-size: 1.2em;*/
}

img {
  max-width: 100%;
}

.logo {
  padding-top: 5px;
}

a {
  text-decoration: none;
  font-size: 1.2em;
}

.cta,
.cta-card {
  color: #141329;
  background-color: #d1fe6b;
  font-weight: 800;
  text-align: center;
  margin: 20px 30px;
  padding: 15px;
  text-transform: uppercase;
  font-size: 1.2em;
}

nav {
  background-color: #edffc5;
  padding: 10px 30px;
  position: fixed;
  top: 50px;
  right: 0px;
  z-index: 100;
  height: 100vh;
}

nav li {
  padding: 8px;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0px;
  padding-right: 40px;
}

.navigation a {
  font-weight: 200;
  padding: 6px 0px;
}

.nav-heading {
  font-size: 36px;
  font-weight: 400;
}

#hamburger {
  display: none;
}

.fa,
.fas {
  font-size: 30px;
  padding-right: 10px;
}

/*.heading-index {
  top: 50px;
}*/

.main-card {
  display: grid;
  box-shadow: 0px 15px 15px #afafaf;
}

footer {
  background-color: #edffc5;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

footer a {
  font-weight: 200;
}

.column {
  flex-direction: column;
  list-style: none;
}

.column li {
  padding: 15px 0px;
}

#contact {
  display: flex;
  flex-direction: column;
}

.contact-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.contact-card .cta {
  margin: 20px 0px;
  border: #d1fe6b;
}

textarea {
  min-height: 100px;
  max-width: 100%;
}

/* INDEX ---------- */

.heading-index h1,
.heading-index p {
  color: #edffc5;
}

.heading-index {
  background-image: url(/images/milkyway.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*min-width: 100%;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.heading-index p {
  max-width: 400px;
  margin: 0px auto;
}

.heading-index .cta {
  color: #141329;
  position: relative;
  margin: 0px auto;
  padding: 15px;
  bottom: -10px;
  min-width: 300px;
  max-width: 345px;
}

.arrow-down {
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #d1fe6b;
  align-self: center;
}

/* ANIMATION ---------- */

nav {
  transition-property: transform;
  transition-duration: 0.5s;
}

nav {
  transform: translateX(350px);
}

#hamburger:checked ~ nav {
  transform: translateX(10px);
}

.arrow-down {
  position: absolute;
  bottom: 10px;
  animation-name: hover;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes hover {
  from {
    margin-bottom: 10px;
  }

  to {
    margin-bottom: 0px;
  }
}

.type-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.type-h1 {
  margin: 40px 28px;
  width: 15ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid;
  font-family: "League Spartan";
  font-size: 2em;
  animation: typing 2s steps(18), blink 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* MEDIA ---------- */

/*MID SIZE -----*/

@media only screen and (min-width: 600px) {
  main {
    max-width: 600px;
    margin: 0px auto;
  }

  .heading {
    min-height: 100vh;
  }

  section {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 2em;
  }

  .main-card,
  .card {
    max-width: 100%;
    margin: 10px;
    max-height: 100vh;
  }

  .main-card img {
    min-height: 100px;
    object-fit: cover;
  }

  footer {
    justify-content: space-around;
  }
}

/* MAX SIZE -----*/

@media only screen and (min-width: 900px) {
  main,
  .heading,
  .heading-index {
    max-width: 1236px;
    margin: 0px auto;
  }

  header {
    justify-content: flex-start;
  }

  .main-card img {
    min-height: 250px;
    object-fit: cover;
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  .card img {
    flex-grow: 2;
    object-fit: cover;
  }

  #roboticsandai,
  #ecology {
    grid-row: 1;
    grid-column: 3;
    max-height: 50%;
  }

  #roboticsandai {
    align-self: start;
  }

  #ecology {
    align-self: end;
  }

  #ecology img {
    max-height: 150px;
  }

  #contact {
    margin: 10px;
  }

  #contact textarea {
    align-items: stretch;
  }

  .heading img {
    max-height: 600px;
    object-fit: cover;
  }

  .heading h1,
  .heading h2,
  .heading p {
    margin: 10px 150px;
  }

  .heading h1 {
    margin-top: 10%;
  }
}
